
*{
  margin: 0;
  padding: 0;
}
/*
div{
  background-color: rgba(43, 5, 17, 0.94);
  margin: 20px;
  padding: 20px;
  width: 200px;
  height: 300px;
  */

.container {
  margin: 30px auto;
  width: 1000px;
  height: 800px;
  border: 10px dashed rgb(28, 190, 173);
  color: rgb(22, 24, 23);
}

.uno{
  font-family: fantasy;
  text-align: center;
  padding: 30px;
  background-color: rgb(186, 131, 228);
  opacity: 1;
  position: fixed;
}
.dos{
  font-family: serif;
  text-align: center;
  padding: 30px;
  background-color: rgb(203, 210, 254);
  opacity: 2;
}
